#### Use Pandas dataframe.replace( ) to replace strings, lists, dictionaries, regex and numbers.

In [1]:
import numpy as np
import pandas as pd

In [2]:
dfw = pd.read_csv('washington.csv')
dfw.head(10)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber
5,1148202,2017-05-14 07:18:18,2017-05-14 07:24:56,398.000,1st & K St SE,Eastern Market Metro / Pennsylvania Ave & 7th ...,Subscriber
6,1594275,2017-06-19 08:41:43,2017-06-19 09:00:08,1105.429,Park Rd & Holmead Pl NW,8th & H St NW,Subscriber
7,1601832,2017-06-20 05:54:42,2017-06-20 06:05:18,636.218,1st & D St SE,Potomac & Pennsylvania Ave SE,Subscriber
8,574182,2017-03-24 20:37:00,2017-03-24 20:42:00,328.530,18th & R St NW,15th & P St NW,Subscriber
9,327058,2017-02-20 21:12:00,2017-02-20 21:31:00,1188.090,17th & Corcoran St NW,Lynn & 19th St North,Subscriber

In [3]:
dfw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  float64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 16.0+ MB

In [4]:
# use replace to switch out strings with other strings
dfw.replace('14th & Belmont St NW','road_closed', inplace =True)
dfw

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,road_closed,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber
...,...,...,...,...,...,...,...
299995,945535,2017-04-26 03:12:14,2017-04-26 03:41:19,1745.528,Lincoln Memorial,Jefferson Dr & 14th St SW,Customer
299996,1495781,2017-06-11 09:48:52,2017-06-11 10:22:31,2018.450,Key Blvd & N Quinn St,5th & K St NW,Subscriber
299997,12860,2017-01-04 14:33:00,2017-01-04 14:43:00,583.897,17th & K St NW / Farragut Square,7th & F St NW/Portrait Gallery,Subscriber
299998,977621,2017-04-28 07:17:47,2017-04-28 07:56:31,2324.170,Jefferson Dr & 14th St SW,Washington & Independence Ave SW/HHS,Customer
299999,1553359,2017-06-16 04:08:16,2017-06-16 04:29:38,1281.459,10th & Monroe St NE,3rd & H St NW,Customer

#### The map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [5]:
#  mapping values to replace multiple values in the table
mapping = {'1st & K St SE': 1, 'Maine Ave & 7th St SW': 2}

In [6]:
dfnew = dfw.replace({'Start Station': mapping, 'End Station': mapping})
dfnew.head(10)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,road_closed,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,2,Subscriber
5,1148202,2017-05-14 07:18:18,2017-05-14 07:24:56,398.000,1,Eastern Market Metro / Pennsylvania Ave & 7th ...,Subscriber
6,1594275,2017-06-19 08:41:43,2017-06-19 09:00:08,1105.429,Park Rd & Holmead Pl NW,8th & H St NW,Subscriber
7,1601832,2017-06-20 05:54:42,2017-06-20 06:05:18,636.218,1st & D St SE,Potomac & Pennsylvania Ave SE,Subscriber
8,574182,2017-03-24 20:37:00,2017-03-24 20:42:00,328.530,18th & R St NW,15th & P St NW,Subscriber
9,327058,2017-02-20 21:12:00,2017-02-20 21:31:00,1188.090,17th & Corcoran St NW,Lynn & 19th St North,Subscriber